body {
  font-family: 'PT Serif', serif;
  background-color: #9bc3ff;
  color: #000256;
}
h1, h2, h3 {
  font-style: italic;
}
.navbar {
  border: thick outset #417fe2;
  border-radius: 10px;
}
.jumbotron {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #417fe2;
}
.main {
  background-color: white;
  text-align: center;
  border: thick outset #417fe2;
  border-radius: 10px;
}
.week {
  text-decoration: underline;
}
.event {
  padding: 10px;
  margin-top: 20px;
}
footer {
  position: relative;
  bottom: 0;
  margin-top: 20px;
  width: 100%;
  background-color: #417fe2;
  padding: 20px;
  border: thick outset #1a4591;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
